
:root {
  --primary-color: #FFFFFF;
  --secondary-color: rgba(0,0,0,0.1);
  --btn-primary-color: #1F1E1E;
  --btn-secondary-color: #333333;
  --background-color: #000000;
}

body {
  font-family: 'Geist', sans-serif;
  font-weight: 300;
  line-height: 1.65;
  font-size: 1.1rem;
  margin: 0;
  display: grid;
  color: var(--primary-color);
  background: var(--background-color);
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

p {
  font-size: 1.125rem;
}

.light-text {
  color: #a0a0a0;
}

/* Navigation */

header {
  display: grid;
  justify-items: center;
  padding: 2rem 0 1.75rem;
  border-bottom: 1px solid var(--secondary-color);
  width: 100%;
}

.header {
  font-family: 'Geist', sans-serif;
  font-weight: 600;
  margin: 0 0 1rem;
}

header > h1 {
  font-size: 2.75rem;
}

h5.header {
  font-size: 1.5rem;
}

h6.header {
  font-size: 1.25rem;
}

.nav-link {
  font-size: 1rem;
  font-weight: 500;
  margin-right: 2rem;
  border-bottom: 4px solid transparent;
  font-family: 'Geist', sans-serif;
  color: #707071;
}

.nav-link:last-child {
  margin-right: 0;
}

.nav-link:hover {
  color: var(--primary-color);
}

/* Section */

section {
  margin: 3rem auto 0;
  width: 40%;
  padding-bottom: 3rem;
  border-bottom: 1px solid var(--secondary-color);
}

section > img {
  width: 100%;
  box-shadow: 0 0 30px var(--secondary-color);
  margin: 2rem 0;
}

.experience-item {
  padding-bottom: 2rem;
}

.experience-item:not(:last-child) {
  border-bottom: 1px solid var(--secondary-color);
  margin-bottom: 2rem;
}

footer {
  margin-top: 8rem;
  padding: 8rem 0;
  text-align: center;
  color: #ffffff;
}

footer > h6 {
  font-family: 'Geist', sans-serif;
}

.primary-btn {
  font-size: 1rem;
  font-family: 'Geist', sans-serif;
  padding: 0.75rem;
  background: var(--btn-primary-color);
  margin: 2rem 0;
  display: block;
  text-align: center;
  border-radius: 2.5rem;
}

.primary-btn:hover {
  background-color: var(--btn-secondary-color);
}

.link-btn {
  display: inline-block;
  font-size: 1rem;
  font-family: 'Geist', sans-serif;
  padding: 0.75rem;
  color: #ffffff;
  background-color: var(--btn-primary-color);
  margin: 1rem 0 3rem;
  width: 7rem;
  text-align: center;
  transition: background linear .1s;
  border-radius: 0.5rem;
}

.link-btn:hover {
  color: var(--primary-color);
  background-color: var(--btn-secondary-color);
  transition: background linear .1s;
}

@media (max-width: 1200px) {
  section {
    width: 70%;
  }
}

@media (max-width: 650px) {
  section {
    width: 90%;
  }

  header > h1 {
    font-size: 2rem;
  }
}
